$blue: #71c0e2;
$otherblue: #42aadd;
$white: #fff;

@import "bulma";

.nav {
  background: $blue;
}

.nav-item {
  color: $white;
}

.nav-item-left {
  margin-left: 1rem;
}

.buttons {
  display: flex;
}

.button {
  margin: 1rem 1rem 0 0;
}

.logo {
  font-size: 1.5rem;
}
