<div class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <nav class="panel is-half is-center">
        <p class="panel-heading title">
          Hello
        </p>

        <a class="panel-block is-active">

          <h3 class="subtitle">Welcome to Razer Cars!</h3>
          <div class="subtitle">Your one stop shop for all your car stats needs!</div>
        </a>



        <div class="panel-block">
          <button class="button is-info is-outlined is-fullwidth">
            See All Manufacturers
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>
{{outlet}}
