<div class="nav is-info">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item nav-item-left">Razor Cars</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">

      <a class="nav-item is-tab">
        Profile
      </a>
      <a class="nav-item is-tab">
        All Manufacturers
      </a>
      <a class="nav-item is-tab">
        Add Manufacturer
      </a>

    </div>
  </div>
</div>

{{outlet}}
