<div class="nav is-info">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item nav-item-left logo">
        {{#link-to "index"}}Razor Cars{{/link-to}}
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">

      <a class="nav-item is-tab">
        {{#link-to "index"}}Home{{/link-to}}
      </a>
      <a class="nav-item is-tab">
        {{#link-to "manufacturers"}}All Manufacturers{{/link-to}}
      </a>
      <a class="nav-item is-tab">
        {{#link-to "manufacturers-new"}}Add Manufacturer{{/link-to}}
      </a>

    </div>
  </div>
</div>

{{outlet}}
