<div class="section">
  <nav class="panel is-half is-center">
    <p class="panel-heading title">
      Mazda
    </p>
    <div class="panel-block">
      <button class="button is-outlined is-fullwidth">
            {{#link-to "manufacturer.car.new"}}Add New Car{{/link-to}}
          </button>
    </div>
  </nav>

  <div class="grid">
    <div class="grid__item">

      <nav class="panel">
        <p class="panel-heading title">
          2017 Mazda
        </p>
        <div class="panel-block">
          <p>Horsepower: 186</p>
          <p>Price: $17845</p>
        </div>
      </nav>
    </div>

    <div class="grid__item">

      <nav class="panel">
        <p class="panel-heading title">
          2017 Mazda
        </p>
        <div class="panel-block">
          <p>Horsepower: 186</p>
          <p>Price: $17845</p>
        </div>
      </nav>
    </div>

    <div class="grid__item">
      <nav class="panel">
        <p class="panel-heading title">
          2017 Mazda
        </p>
        <div class="panel-block">
          <p>Horsepower: 186</p>
          <p>Price: $17845</p>
        </div>
      </nav>
    </div>



  </div>


</div>
