<div class="section">
  {{!-- <div class="columns"> --}}
    {{!-- <div class="column is-10 is-offset-1 is-mobile"> --}}
      <nav class="panel is-half is-center">
        <p class="panel-heading title">
          Mazda
        </p>
        <div class="panel-block">
          <button class="button is-outlined is-fullwidth">
            {{!-- {{#link-to "manufacturer.car.new"}}Add New Car{{/link-to}} --}}
          </button>
        </div>
      </nav>
    {{!-- </div> --}}
  {{!-- </div> --}}

  <div class="grid">

    <div class="grid__item">

      <nav class="panel">
        <p class="panel-heading title">
          2017 Mazda
        </p>
        <div class="panel-block">
          <p>Horsepower: 186</p>
          <p>Price: $17845</p>
        </div>
      </nav>
    </div>

    <div class="grid__item">

      <nav class="panel">
        <p class="panel-heading title">
          2017 Mazda
        </p>
        <div class="panel-block">
          <p>Horsepower: 186</p>
          <p>Price: $17845</p>
        </div>
      </nav>
    </div>

    <div class="grid__item">

      <nav class="panel">
        <p class="panel-heading title">
          2017 Mazda
        </p>
        <div class="panel-block">
          <p>Horsepower: 186</p>
          <p>Price: $17845</p>
        </div>
      </nav>
    </div>





  </div>


</div>
