<div class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter is-mobile">
      <nav class="panel is-half is-center">

        <p class="panel-heading title">
          Mazda
        </p>

        <div class="panel-block">
          <button class="button is-outlined is-fullwidth">
            {{#link-to "new"}}Add New Car{{/link-to}}
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>
